body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}
a {
	color: #333;
	text-decoration: none;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-container {
	background-color: #fff;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	margin-bottom: 30px;
	color: #333;
}

form input {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	background-color: #b7b7b0;
}

.captcha-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

label {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

#captcha-equation {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
header {
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}

nav li {
	margin: 0 10px;
}

nav a {
	font-size: 18px;
	font-weight: bold;
	transition: color 0.3s ease-in-out;
}

nav a:hover {
	color: #666;
}
