* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
	position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
  
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
a {
	color: #333;
	text-decoration: none;
}
header {
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
	position:relative;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}

nav li {
	margin: 0 10px;
}

nav a {
	font-size: 18px;
	font-weight: bold;
	transition: color 0.3s ease-in-out;
}


footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
    
	bottom:-70px;
	
}

input[type="text"],
input[type="email"],
input[type="message"],
input[type="tel"],
textarea,
input[type="password"]
 {
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

a {
	color: #333;
	text-decoration: none;
}

